@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: grey;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0 auto;
}

/****Header****/

h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: red;
}

/*************/

/****Body****/

p{
  font-family: Verdana;
  background-color: pink;
}

h2{
  font-family: 'Poiret One', cursive;
  background-color: green;
}

#social{
  margin-left: 20rem;
}

.icons {
  border: dotted;
  list-style: none;
}


/***********/

/****Footer****/

footer{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: orange;
}
/***********/







@media only screen and (min-width: 38rem) {

  html{
    font-size: 110%;
    line-height: 1.4;
  }

  p{
    max-width: 30rem;
  }

}

@media only screen and (min-width: 60rem) {

  html{
    font-size: 120%;
    line-height: 1.5;
  }

  p{
    max-width: 48rem;
  }

}

@media print{

  nav{
    display: none;
  }

  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }

}
