@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}


/****Header****/

.banner img{
  width: 100%;
}

.banner{
  max-width: 40em;
  margin: 0 auto;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color: white;
  line-height: 3rem;
  font-size: 4rem;
  text-align: center;
  margin-top: -6rem;
}

/*************/

/****Body****/

body{
  margin: 0 auto;
}

p{
  font-family: 'Raleway', sans-serif;
  color: #525252;
  text-align: center;
  max-width: 20em;
  margin: 0 auto;
  padding-bottom: 1rem;
}

h2{
  font-family: 'Abril Fatface', cursive;
  font-size: 4rem;
  color: white;
  text-align: center;
}

#Artwork{
  background-color: #525252;
  margin: 0 auto;
}

.flex {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.flex:hover{
  border: 50px solid yellow;
}

.flex{
  margin-left: 15%;
  margin-bottom: 1rem;
  width: 70%;
}

#social{
  max-width: 40em;
  margin: 0 auto;
}

.icons{
  list-style: none;
}

.icons li{
  display: inline-block;
  margin-right: 3.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/***********/

/****Footer****/

footer{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
/***********/


/***Media Queiry***/

/****Medium-Tablet****/
@media only screen and (min-width: 38rem) {

  html{
    font-size: 110%;
    line-height: 1.4;
  }

  h1{
    font-size: 5rem;
    line-height: 3.5rem;
    margin-top: -7.2rem;
    text-align: left;
  }

  p{
    max-width: 28rem;
  }

  h2{
    font-size: 5rem;
    text-align: center;
  }

  .flex{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2rem;
  }

  .icons{
    margin-left: 20%;
  }

}

/****Large-Desktop****/
@media only screen and (min-width: 60rem) {

  html{
    font-size: 120%;
    line-height: 1.5;
  }

  p{
    max-width: 35rem;
  }

  h1{
    font-size: 6rem;
    line-height: 4.2rem;
    margin-top: -9rem;
    text-align: left;
  }

  h2{
    font-size: 5.5rem;
  }

  .icons{
    margin-left: 30%;
  }

}

/****Styling-for-Print****/
@media print{

  nav{
    display: none;
  }

  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }

}
