@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}


/****Header****/

.banner img{
  width: 100%;
}

.banner{
  max-width: 40em;
  margin: 0 auto;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color: white;
  line-height: 3rem;
  font-size: 4rem;
  text-align: center;
  margin-top: -6rem;
}

/*************/

/****Body****/

body{
  margin: 0 auto;
}

p{
  font-family: Verdana;
  text-align: center;
  max-width: 40em;
  margin: 0 auto;
  padding-bottom: 2rem;
}

h2{
  font-family: 'Poiret One', cursive;
  background-color: green;
}

.flex{
  margin-left: 4rem;
  padding-bottom: 1rem;
  width: 70%;
  border-radius: 50%;
}

#social{
  max-width: 40em;
  margin: 0 auto;
}

.icons{
  border: dotted;
  list-style: none;
}

.icons li{
  display: inline-block;
}

/***********/

/****Footer****/

footer{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: orange;
}
/***********/


/***Media Queiry***/

@media only screen and (min-width: 38rem) {

  html{
    font-size: 110%;
    line-height: 1.4;
  }

  p{
    max-width: 30rem;
  }

}

@media only screen and (min-width: 60rem) {

  html{
    font-size: 120%;
    line-height: 1.5;
  }

  p{
    max-width: 48rem;
  }

}

@media print{

  nav{
    display: none;
  }

  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }

}
